#map-canvas {
    height: 625px;
    width: 100%;
    padding-top: 5px;
    text-align: left;
    margin-left: 1px;
}

.location-box {
    width: 100%;
    height: 100%;
    padding-top: 5px;
    margin-right: 1px;
    text-align: left;
    background-color: peachpuff;
    font-size: small;
}
.navbar {
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    background: peachpuff;
    font-family: 'Goldman', cursive;
    font-size: larger;
}
.nav-item {
    color: black;
    text-align: left;
    font-family: 'Goldman', cursive;
    text-decoration: underline;
    font-size: large;
}

.jumbotron {
    background: peachpuff;
    padding: 1%;
    margin-bottom: 5px;
    font-family: 'Goldman', cursive;
    font-size: medium;
}

.jumbotron-about-text {
    background: peachpuff;
    padding: 1%;
    font-size: small
}